streamlit
pandas
numpy
fpdf
streamlit-option-menu
streamlit-mic-recorder
gtts
google-genai>=0.3.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
huggingface-hub
st-gsheets-connection
requests
Pillow
